@import "../../../styles/responsive";

.resume {
  @media (min-width: $antd-breakpoint-xs) {
    padding: 0;
  }

  @media (min-width: $antd-breakpoint-lg) {
    padding: 0;
  }

  @media (min-width: $antd-breakpoint-xl) {
    padding: 0 5rem;
  }

  @media (min-width: $antd-breakpoint-xxl) {
    padding: 0 10rem;
  }

  .section {
    margin-bottom: 0.5rem;
  }

  .job {
    margin-bottom: 0.2rem;

    .title {
      margin-bottom: 0;
    }

    .positions {
      font-style: italic;
    }
  }

  .margin-top-fix {
    &:global(.ant-typography) {
      // Weird antd class affecting only a single element, this should fix it
      margin-top: 0;
    }
  }
}