@import "../../styles/theme";
@import "../../styles/responsive";

.navbar {
  background-color: $color-100;
  padding: 0;

  .menu {
    @include responsive-width;

    background-color: $color-100;

    .item {
      color: $foreground-dark;

      :global(.ant-menu-submenu-title) {
        :global(.ant-menu-item-icon) {
          color: $foreground-dark;
        }

        :global(.ant-menu-title-content) {
          color: $foreground-dark;
        }
      }
    }

    .brand {
      font-size: $antd-font-size-h4;
    }
  }
}