@import "../../../styles/responsive";
@import "../../../styles/theme";

.projects {
  @include responsive-content-width;

  .title {
    @media (min-width: $antd-breakpoint-lg) {
      justify-content: center;
    }
  }

  .list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    :global(.ant-list-item) {
      cursor: pointer;
    }

    :global(.ant-list-item-meta) {
      :global(.ant-list-item-meta-title), :global(.ant-list-item-meta-avatar) {
        font-size: 1.3rem;
      }
    }

    .list {
      @media (min-width: $antd-breakpoint-md) {
        width: 100%;
      }

      @media (min-width: $antd-breakpoint-lg) {
        width: 70%;
      }

      @media (min-width: $antd-breakpoint-xxl) {
        width: 50%;
      }

      .list-item {
        &:hover {
          background-color: $color-050;
        }
      }
    }
  }
}