@import "./theme";

@mixin responsive-page-width {
  @media (min-width: $antd-breakpoint-xs) {
    margin: 0 $page-margin-xs;
  }

  @media (min-width: $antd-breakpoint-sm) {
    margin: 0 $page-margin-sm;
  }

  @media (min-width: $antd-breakpoint-md) {
    margin: 0 $page-margin-md;
  }

  @media (min-width: $antd-breakpoint-lg) {
    margin: 0 $page-margin-lg;
  }

  @media (min-width: $antd-breakpoint-xl) {
    margin: 0 $page-margin-xl;
  }

  @media (min-width: $antd-breakpoint-xxl) {
    margin: 0 $page-margin-xxl;
  }
}

@mixin responsive-content-width {
  @media (min-width: $antd-breakpoint-xs) {
    padding: 0;
  }

  @media (min-width: $antd-breakpoint-lg) {
    padding: 0;
  }

  @media (min-width: $antd-breakpoint-xl) {
    padding: 0 3rem;
  }

  @media (min-width: $antd-breakpoint-xxl) {
    padding: 0 7rem;
  }
}

.row {
  display: flex;

  @media (min-width: $antd-breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $antd-breakpoint-lg - 1) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.col {
  display: flex;
  flex-direction: column;
}