@import "theme";

:export {
  color100: $color-100;
  color200: $color-200;
  color300: $color-300;
  color400: $color-400;
  color500: $color-500;
  foregroundLight: $foreground-light;
  foregroundDark: $foreground-dark;
}