@import "../../../../styles/responsive";
@import "../../../../styles/theme";

.documentation-page {
  @include responsive-content-width;

  display: flex;
  flex-direction: column;

  .row-center {
    justify-content: center;
  }
}