@import "../styles/theme";

body {
  margin: 0;
  padding: 0;
}

@mixin justify {
  text-align: justify;
  text-justify: inter-word;
}

span.ant-typography {
  @include justify;
}

.ant-card {
  margin-bottom: $vertical-spacing;

  span.ant-typography {
    margin-bottom: $vertical-spacing;
  }
}

section {
  margin-bottom: $vertical-spacing;
}