@import "../../../../styles/responsive";
@import "../../../../styles/theme";

.expense-tracker {
  @include responsive-content-width;

  display: flex;
  flex-direction: column;

  .header {
    justify-content: center;
  }

  .section {
    >* {
      @media(min-width: $antd-breakpoint-lg) {
        width: 48%;
      }

      @media (min-width: $antd-breakpoint-lg - 1) {
        width: 100%;
      }
    }
  }
}