@import "../../../../styles/responsive";
@import "../../../../styles/theme";

.expense-tracker {
  @include responsive-content-width;

  display: flex;
  flex-direction: column;

  .row-center {
    justify-content: center;
  }

  .col-center {
    align-items: center;
  }

  .link-list {
    width: 50%;
  }

  .section {
    >* {
      @media(min-width: $antd-breakpoint-lg) {
        width: 48%;
      }

      @media (max-width: $antd-breakpoint-lg - 1) {
        width: 100%;
      }
    }
  }
}