@import "../../styles/theme";

.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;

  :global(.ant-typography) {
    margin: 0;
  }

  :global(.anticon) {
    margin-right: 0.5rem;
  }

  .item-contents {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $foreground-dark;
    border-bottom: 2px solid $color-100;
    transition: border-bottom 0.5s ease;

    &:global(.active), &:hover {
      border-bottom: 2px solid $foreground-dark;
    }
  }

  &.pointer {
    cursor: pointer;
  }
}

.group-items {
  visibility: hidden;
  position: absolute;

  &.show {
    visibility: visible;
  }
}