@import "../../../../styles/responsive";
@import "../../../../styles/theme";

.documentation-page {
  @include responsive-content-width;

  display: flex;
  flex-direction: column;

  .row-center {
    justify-content: center;
  }

  .col-center {
    align-items: center;
  }

  .links {
    @media(min-width: $antd-breakpoint-xl) {
      width: 70%;
    }

    @media (max-width: $antd-breakpoint-xl - 1) {
      width: 100%;
    }
  }

  .section {
    >* {
      @media(min-width: $antd-breakpoint-lg) {
        width: 48%;
      }

      @media (max-width: $antd-breakpoint-lg - 1) {
        width: 100%;
      }
    }
  }
}